[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"

[packages]
"discord.py" = "*"
black = "==19.10b0"
requests = "*"
python-dateutil = "*"

[requires]
python_version = "3.8"
